<div class="formContainer">
  <h2><b>{{data!.title | uppercase}}</b></h2>
  <!-- {{dataValidate?.validate}}
  {{dataValidate?.type}} -->
  <!-- {{!dataValidate?.validate && dataValidate?.type === ('email' || 'password')}} -->
  <!-- <div *ngIf="!dataValidate?.validate && dataValidate?.type === 'email' || 'password'">
    {{dataValidate?.type | titlecase}} invalido, seguir ejemplo {{dataValidate?.type === 'email' ? 'example@gmail.com' : 'Password10'}}
  </div> -->
  <div class="inputContainer">
    <app-form *ngFor="let item of data!.input" [item]="item" (submitValue)="getValues($event)"></app-form>
  </div>
  <div class="btnContainer">
    <app-button  [button]="data!.button" (click)="data!.onCreate ? setValues() : editValues() "></app-button>
    <app-button  [button]="this.cancelBtn" (click)="onNoClick()"></app-button>
  </div>
</div>
