@import "../../theme.scss";

.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 25px 25px;
  border-radius: 6px
}

.btn--small {
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px
}

.btn__text--white {
  color: $white;
}

.btn__text--black {
  color: $black;
}

.btn--primary {
  @extend .btn;
  background-color: $teal--500;
}

.btn--secondary {
  @extend .btn;
  background-color: $white;
}

.btn--danger {
  @extend .btn;
  background-color: $danger;
}

.btn--primary--small {
  @extend .btn--small;
  background-color: $teal--500;
}

.btn--secondary--small {
  @extend .btn--small;
  background-color: $white;
}

.btn--danger--small {
  @extend .btn--small;
  background-color: $danger;
}


