<button
  mat-button
  [ngClass]="{
    'btn--primary': button!.type === 'primary',
    'btn--secondary': button!.type === 'secondary',
    'btn--danger': button!.type === 'danger',
    'btn--primary--small': button!.type === 'primary--small',
    'btn--secondary--small': button!.type === 'secondary--small',
    'btn--danger--small': button!.type === 'danger--small',

  }"
>
  <span
    [ngClass]="{
      'btn__text--white': button!.type === 'primary' || 'danger',
      'btn__text--black': button!.type === 'secondary'
    }"
    >{{ button!.text }}</span
  >
</button>
