<div class="formContainer">
  <label class="form__label"
    ><b>{{ item!.label | titlecase }}</b></label
  >
  <mat-form-field class="form" *ngIf="item!.inputType === 'input'">
    <mat-label>{{ item!.placeholder | titlecase }}</mat-label>
    <input
      matInput
      [type]="item!.type"
      [value]="item.value ? item.value : this.value"
      [ngModel]="this.value"
      (ngModelChange)="setValue($event)"
      required
    />
  </mat-form-field>
  <mat-form-field class="form" *ngIf="item?.inputType === 'select'">
    <div>
      <mat-select
        [value]="item.value ? item.value : this.value"
        [ngModel]="this.value"
        (ngModelChange)="setValue($event)"
      >
        <mat-option
          *ngFor="let option of item!.options"
          [value]="option.value"
          >{{ option.viewValue }}</mat-option
        >
      </mat-select>
    </div>
  </mat-form-field>
  <mat-form-field class="form" *ngIf="item?.inputType === 'date'">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [value]="item.value ? item.value : this.value"
      [ngModel]="this.value"
      (ngModelChange)="setValue($event)"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="form" *ngIf="item?.inputType === 'boolean'">
    {{ item.value ? "item value" + item.value : "default value" + this.value }}
    <mat-checkbox
      class="example-margin"
      [value]="item.value ? item.value : this.value"
      [ngModel]="this.value"
      (ngModelChange)="setValue($event)"
      >{{ item!.placeholder }}</mat-checkbox
    >
  </div>
  <div class="form" *ngIf="item?.inputType === 'file'">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFilechange($event)" #fileInput type="file">
    <span class="file-name">{{file?.name}}</span>
    <button type="button" mat-raised-button (click)="onUpload()">Choose File</button>
  </div>
</div>
